body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
}

header {
    background: 
        url('hutchisonLogo.png') no-repeat left center, 
        linear-gradient(to bottom, #4CAF50, #2E7D32);
    color: white;
    padding: 0.5em 0;
    text-align: center;
    background-size: 120px, cover; /* Logo size and full background */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    flex-grow: 1; /* Takes up remaining space in the body */
    padding-bottom: 60px; /* Space for the footer */
    display: flex;
    flex-direction: column;
}

#calendar {
    flex-grow: 1; /* Allows the calendar to take remaining space in the main section */
    overflow: auto; /* Makes the calendar scrollable if it overflows */
    height: 500px; /* Set a fixed height for the calendar */
    margin-bottom: 20px; /* Ensure space between calendar and footer */
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: absolute; /* Footer will stick to the bottom */
    bottom: 0; /* Keeps footer at the bottom of the page */
}

#eventForm input {
    height: 30px; /* Even larger input height */
    font-size: 18px; /* Increase font size */
}
